:root {
  --bg-color: #1f2022;
  --text-color: #e0e4eb;
  --surface-color: #3d4047;
  --font-family: "Advent Pro", sans-serif;
  --font-size: 2rem;
  --radius: 15px;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
}

body main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  height: 100vh;
}
