:root {
  --bg-color: #1f2022;
  --text-color: #e0e4eb;
  --surface-color: #3d4047;
  --font-family: "Advent Pro", sans-serif;
  --font-size: 2rem;
  --radius: 15px;
  --error-color: #bf2e2e;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
}

body main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  height: 100vh;
}

a {
  color: var(--text-color);
}

a:visited {
  color: var(--text-color);
}

.error {
  color: var(--error-color);
}

button[class="primary"] {
  width: 100%;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--font-size);
  height: auto;
  border-radius: 35px;
  padding: 10px;
  transition: 0.2s all ease-in-out;
}

button[class="primary"]:hover,
button[class="primary"]:focus {
  transform: scale(1.1);
  cursor: pointer;
  background-color: var(--bg-color);
  color: var(--text-color);
}
