.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 15px;
  padding: 30px;
  background-color: var(--surface-color);
  border-radius: var(--radius);
}

.favFlower img {
  width: 125px;
  height: 125px;
}
