<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>System X</title>
    <link href="https://fonts.cdnfonts.com/css/advent-pro" rel="stylesheet" />
    <link rel="stylesheet" href="./css/base.css" />
  </head>
  <body>
    <main>
      <form class="login" action="/login" method="POST">
        <h1>System X</h1>
        <span class="divider"></span>
        <label for="username">Username</label>
        <input name="username" type="email" class="field" required />
        <label for="password">Password</label>
        <input name="password" type="password" class="field" required />
        <span class="spacing"></span>
        <button class="primary" type="submit">Login</button>
      </form>
    </main>
    <script src="login.js" type="module"></script>
  </body>
</html>
