<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>System X</title>
    <link href="https://fonts.cdnfonts.com/css/advent-pro" rel="stylesheet" />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <main>
      <form class="login" action="/login" method="POST">
        <h1>System X</h1>
        <h2>
          David Buzas |
          <a target="_blank" href="https://github.com/stevie-soft/securelogin"
            >GitHub</a
          >
        </h2>
        <span class="divider"></span>
        <label for="username">E-Mail</label>
        <input name="username" type="email" class="field" required />
        <label for="password">Jelszó</label>
        <input name="password" type="password" class="field" required />
        <div id="errorBox" class="error"></div>
        <span class="spacing"></span>
        <button class="primary" type="submit">Bejelentkezés</button>
      </form>
    </main>
    <script src="/js/login.js" type="module"></script>
  </body>
</html>
