<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>System X</title>
    <link href="https://fonts.cdnfonts.com/css/advent-pro" rel="stylesheet" />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/profile.css" />
  </head>
  <body>
    <main>
      <div class="profile-card">
        <div>%USERNAME%</div>
        <div id="favColorBox">%FAVORITE_COLOR%</div>
        <div class="favFlower">
          <img id="favFlowerImg" />
        </div>
        <span class="divider"></span>
        <form action="/logout" method="POST">
          <button class="primary" type="submit">Kijelentkezés</button>
        </form>
      </div>
    </main>
    <script src="/js/profile.js" type="module"></script>
  </body>
</html>
